<p>
Yo, I'm Milind! I'm an aspiring software developer currently studying computer
engineering at the <span>University of Waterloo</span>. I've had a passion for computers that has been exponentially
increasing the more I work with them! My career as a programmer began during my first internship at <span>Scotiabank
</span> and has continued growing while working for the <span>Department of National Defense</span> and later at <span>FlashStock</span>. 
When I'm not programming, I'll most likely be playing the beautiful game that is Starcraft, reading an immersive
science fiction book, or competing to be an excellent tennis player.
</p>