<div ng-show="resume.sectionSelected === 'Education'" class="sectionContainer">
    <div class="eduContainer">
        <div class="universityContainer">
            <div>
                <h1>University of Waterloo</h1>
                <h4>Bachelor of Applied Science</h4>
                <h4>Computer Engineering</h4>
                <h4>Class of 2018</h4>
            </div>
        </div>

        <div class="coursesContainer">
            <div class="alignCoursesContainer">
                <h1>Relevant Courses</h1>
                <div ng-repeat="course in resume.courses" class="courseBox">
                    <i class="fa {{course.iconClass}}"></i>
                    <span>{{course.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>