/*
colors{
	blue: #0FA3FF;
	orange: #FF6B0F;
	white: #FFFFFF;
	grey: #B5B5B5;
	background-grey: #1C1C1C;
}
*/

@font-face {
    font-family: "Helvetica-Neue";
    src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
    font-family: "Helvetica-Neue-Thin";
    src: url("../fonts/HelveticaNeue-Thin.otf");
}
@font-face {
	font-family: "FuturaPT-Light";
	src: url("../fonts/FuturaPTLight.otf");
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.bodyBackground {
	background: #1C1C1C no-repeat fixed;
	font-family: "Helvetica-Neue-Thin", "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.firstContainer {
	height: 100vh; /* TODO: Figure out why height: 100% doesn't work */
	width: 100%;

	background: url("../images/mountRainierNightLowRes.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-size: 70px;
	font-family: "Helvetica-Neue-Thin";
	color: #0FA3FF;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

h2 {
	font-size: 40px;
	font-family: "Helvetica-Neue-Thin";
	color: #0FA3FF;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 25px;
	line-height: 1.2;
}

h3 {
	font-size: 30px;
	color: white;
	font-family: "Helvetica-Neue-Thin";
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

p, label{
	font-size: 18px;
	font-family: "Helvetica-Neue-Thin";
	color: #B5B5B5;
	line-height: 1.5;
}

@media (max-width: 600px) {
	h1 {
		font-size: 45px; /* Possibly change */
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	p, label {
		font-size: 16px;
	}
}



/*** NavBar Styling ***/
.navbar-fixed-top {
	background: rgba(0, 0, 0, 0.4);
}

.navbar-collapse {
	margin-right: 25px;
}

#navDiv li a{
	text-decoration: none;
	font-size: 18px;
	font-family: "Helvetica-Neue-Thin";
	color: #FFFFFF;
}

#navDiv li a:hover {
	color: #0FA3FF;
	background-color: transparent
}

#navDiv li a:focus {
	color: #FFFFFF;
	background-color: transparent
}

#navDiv .active {
	background-color: #0FA3FF;
}

#navDiv .active a:hover{
	color: #FFFFFF;
}

#navDiv .navUnderline {
	width: 100%;
	height: 3px;
	background-color: #0FA3FF;
	position: absolute;
	bottom: 0px;
}




/*** Home Page Styling ***/
#home {
	font-family: "Helvetica-Neue-Thin";
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}

.name #first {
	color: white;
}
.name #last {
	color: #0FA3FF;
}



/*** About Page Styling ***/
#about {
	margin-top: 100px;
	margin-bottom: 100px;
	overflow: hidden;
}

.mainAboutContainer {
	padding: 0;
}

.aboutDescription {
	text-align: right;
}

.aboutDescription h2 {
	text-align: right;
}

.aboutDescription span {
	color: #0FA3FF;
}

.aboutPicture {
	width: 300px;
	height: 450px;
	margin: 0 auto;

	background: url("../images/me.jpg") no-repeat top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (max-width: 1000px) {
	.aboutDescription {
		text-align: left;
		margin-bottom: 50px;
	}
	.aboutDescription h2 {
		text-align: center;
	}
}

@media (max-width: 500px) {
	#about {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.aboutPictureContainer {
		padding: 0;
	}
}

/* Command Prompt Styling, not implemented yet */
.main-about-container {
	width: 700px;
	margin-left: 100px;
	float: left;
}

.command-prompt-help {
	width: 300px;
	float: right;
}

.command-prompt-container {
	position: relative;
	width: 700px;
	height: 400px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #000;
	/* scroll contain overflow */
}

.input-command-container {
	border: 1px solid green;
	width: 100%;
	max-height: 50px;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.input-command-container input[type="text"] {
	/* change width to fill rest of div */
	width: 95%;
	max-height: 50px;
	background-color: #000;
	border: none;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	font-weight: lighter;
}

@media (max-width: 1110px){
	.main-about-container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.command-prompt-help {
		width: 100%;
		margin: 0 auto;
	}
}


/** Recommendation Page Styling **/
.recContainer {
	height: auto;
	width: 100%;
	margin-bottom: 100px;

	background: url("../images/mountRainerLowRes.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.opacityContainer {
	background: rgba(0, 0, 0, 0.5);
}

.carouselContainer {
	height: auto;
	float: none !important;
	padding: 0px !important;
	padding-top: 10px !important;
}

.titleContainer {
	width: auto;
	height: auto;
}

.titleContainer h2 {
	margin-top: 10px;
	margin-bottom: 0;
}

.arrowContainer {
	text-align: center;
	background: rgba(365, 365, 365, 0.3);
	margin-top: 0;
	margin-bottom: 0;
}

.arrowContainer a {
	color: #1C1C1C;
	font-family: "Helvetica-Neue-Thin";
	font-size: 40px;
	text-decoration: none;
}

.arrowContainer:hover a{
	color: #0FA3FF;
	text-decoration: none;
}

.carousel .item {
	height: 250px;
    width: 100%;
    padding: 10px 30px;
    font-family: "Helvetica-Neue-Thin";
}

.quoteContent {
	font-style: italic;
	padding-right: 20px;
}

.quoteAuthor {
	color: #0FA3FF;
	font-weight: bold;
	text-align: right;
	margin-bottom: 50px;
}

@media(min-width: 1800px) {
	.titleContainer h2, .arrowContainer a {
		font-size: 48px;
	}
	.quoteContent {
		font-size: 22px;
	}
	.quoteAuthor {
		font-size: 30px;
	}
}

@media (max-width: 950px) {
	.titleContainer h2, .arrowContainer a{
		font-size: 24px;
	}	
}

@media (max-width: 600px) {
	.carouselContainer {
		margin: 0px !important;
		width: 100% !important;
	}
	.carousel .item {
	    padding: 10px 10px;
	}
	.arrowContainer a {
		font-size: 25px;
	}
}

@media (max-width: 500px) {
	.recContainer {
		margin-bottom: 50px;
	}
}
/* Failed animation experiments */
/*.quoteContainer.active {
  	animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
*/



/** Contact Page Styling**/
.contactContainer {
	margin-bottom: 100px;
	overflow: hidden;
}

.contactTextContainer {
	color: #B5B5B5;
	overflow: hidden;
	padding: 0;
}

.leftContact {
	overflow: hidden;
}

.mediaIconsRow {
	text-align: center;
}

.mediaIcons {
	display: inline-block;
	font-size: 60px;
	margin: 20px 40px 20px 0px;
}

.mediaIcon {
	color: #B5B5B5;
}

.mediaIcon:hover {
	color: #0FA3FF;
}

.formButton {
	text-align: right;
}

.formButton input{
	background-color: #0FA3FF;
	color: #FFFFFF;
	border: 2px solid #0FA3FF;
	padding: 15px 30px;
	border-radius: 0px;
	text-decoration: none;

	font-family: "FuturaPT-Light";
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
}

@media (max-width: 600px) {
	.mediaIcons {
		font-size: 30px;
	}
}



