<div class="resumeNav pull-left">

	<div class="resumeNavContainer">
		<canvas id="textCanvas" width="400" height="400" 
			 style="z-index: 1; 
                   position: absolute;
                   left: 0px; 
                   top: 0px;" 
        >
        <p>{{resume.notSupportedMessage}}</p>
        </canvas>
		<canvas id="resumeNavCanvas" width="400" height="400" 
			 style="z-index: 2; 
                   position: absolute;
                   left: 0px; 
                   top: 0px;" 
        >
        <p>{{resume.notSupportedMessage}}</p>
        </canvas>
	</div>

  <div class="resumeDownload">
    <div class="resumeDownloadButton">
      <a href="#">Download Resume</a>
    </div>
  </div>

</div>

<div class="resumeContainer pull-right">

  <ul>
    <li ng-show="resume.sectionSelected === 'Experience'">Experience</li>
    <li ng-show="resume.sectionSelected === 'Skills'">Skills</li>
    <li ng-show="resume.sectionSelected === 'Education'">Education</li>
    <li ng-show="resume.sectionSelected === 'Projects'">Projects</li>
   
  </ul>
</div>


