<!DOCTYPE html>
<html ng-app="personalWebsite" ng-strict-di>
  <head>
    <title>My Website</title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/scripts/angularApp.js"></script>
  </head>

  <body>
    <div ui-view></div>

    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  	<script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">


   	<!-- Routing Modules -->
   	<script src="/scripts/router.js"></script>

   	<!-- Controllers -->
   	<script src="/scripts/controllers/indexController.js"></script>
	<script src="/scripts/controllers/bioController.js"></script>


  </body>
</html>
