<!DOCTYPE html>
<html ng-app="personalWebsite" ng-strict-di>
  <head>
    <title>My Website</title>
  </head>

  <body class="bodyBackground">
    <ng-include src="'views/navbar.html'"></ng-include>
    <div class="bodyContainer" ui-view></div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/scripts/angularApp.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  	<script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/Chart.js/Chart.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

   	<!-- Routing Modules -->
   	<script src="/scripts/router.js"></script>

   	<!-- Controllers -->
    <script src="/scripts/controllers/navController.js"></script>
   	<script src="/scripts/controllers/indexController.js"></script>
    <script src="/scripts/controllers/aboutController.js"></script>
    <script src="/scripts/controllers/resumeController.js"></script>
    <script src="/scripts/controllers/articleController.js"></script>
    <script src="/scripts/controllers/contactController.js"></script>

    <!-- Directives -->
    <script src="/scripts/directives/pictographRow.js"></script>
    
  </body>
</html>
