/*
colors{
	blue: #0FA3FF;
	orange: #FF6B0F;
	red: ;
	white: #FFFFFF;
	grey: #B5B5B5;
	background-grey: #1C1C1C;
}
*/

@font-face {
    font-family: "Helvetica-Neue";
    src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
    font-family: "Helvetica-Neue-Thin";
    src: url("../fonts/HelveticaNeue-Thin.otf");
}
@font-face {
	font-family: "Lucida-Grande";
	src: url("../fonts/LucidaGrande-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Thin";
	src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Medium";
	src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
	font-family: "Source-Sans-Pro-Light";
	src: url("../fonts/SourceSansPro-Light.otf");
}
@font-face {
	font-family: "Source-Sans-Pro";
	src: url("../fonts/SourceSansPro-Regular.otf");
}

.bodyBackground {
	background: #1C1C1C no-repeat fixed;
	font: 14px "Lucida-Grande", "Helvetica-Neue", Helvetica, Arial, sans-serif;
	/*background-size: 100% 100%;*/ 
}

.bodyContainer {
	margin-top: 50px;
}




/*** NavBar Styling ***/
.navbar-fixed-top {
	background: black;
}

.navbar-collapse {
	margin-right: 25px;
}

#navDiv li a{
	text-decoration: none;
	font-size: 16px;
	font-family: "Helvetica-Neue-Thin";
	color: #FFFFFF;
}

#navDiv li a:hover {
	color: #0FA3FF;
	background-color: transparent
}

#navDiv li a:focus {
	color: #FFFFFF;
	background-color: transparent
}

#navDiv .active {
	background-color: #0FA3FF;
}

#navDiv .active a:hover{
	color: #FFFFFF;
}

#navDiv .navUnderline {
	width: 100%;
	height: 3px;
	background-color: #0FA3FF;
	position: absolute;
	bottom: 0px;
}




/*** Home Page Styling ***/
.pageContainer {
	margin: 100px 25px;
}

.left {
	font-family: "Helvetica-Neue-Thin";
	width: 40%;
	margin-left: 50px;
}

.name h1{
	font-size: 130px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}

.name .first {
	color: #B5B5B5;
}

.name .last {
	color: #0FA3FF;
}

.myHeading h1{
	font-size: 40px;
	color: #B5B5B5;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}

.myDescription {
	margin-top: 30px;
	margin-bottom: 30px;
}

.myDescription p{
	font-size: 18px;
	color: #B5B5B5;
	text-align: justify;
}

.myDescription span{
	color: #0FA3FF;
}

/* Media Query*/
/*
set rightDiv to go below the left div instead of floating left/right
*/
@media (max-width: 960px){
	.left {
		width: 100%;
		margin-left: 0px;
	}
	.name h1,
	.myHeading h1{
		text-align: center;
	}
}



/*** About Page Styling ***/
.main-about-container{
	height: 100vh;
	width: 70vw;
	border: 1px solid green;
	/* contain overflow */
}

.command-prompt-container{
	position: relative;
	width: 650px;
	height: 400px;
	margin: 0 auto;
	margin-top: 25vh;
	background-color: #000;
	opacity: 0.8;
	/* scroll contain overflow */
}

.input-command-container {
	border: 1px solid green;
	width: 100%;
	max-height: 50px;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.command-input {
	/* change width to rest of div */
	width: 95%; 
	max-height: 50px;
	background-color: #000;
	border: none;
	color: #fff;
	/* change text font, size, weight */
}

.command-prompt-help {
	width: 30vw;
	height: 100vh;
	bottom: 0;
}

@media (max-width: 960px){
	.main-about-container {
		width: 90vw;
	}
	/*Make it an icon with pull out menu*/
	.command-prompt-help {
		width: 10vw;
	}
}

/* @media < 500px? */


/*** Resume Page Styling ***/
.resumeNav {
	
}

.resumeNavContainer {
	position: relative; 
	width:400px; 
	height:400px;
}

.resumeDownload {
	width: 100%;
	margin-top: 80px;
}

.resumeDownloadButton {
	width: 250px;
	text-align: center;
	margin: 0 auto;
	border: 2px solid #FF6B0F;
	padding-bottom: 20px;
	padding-top: 20px;
}

.resumeDownloadButton:hover {
	background-color: #FF6B0F;
}

.resumeDownload a{
	color: #FFFFFF;
	font-family: "Helvetica-Neue-Thin";
	font-size: 18px;
	text-decoration: none;
}

.resumeContainer {
	border: 1px solid red;
	margin-top: 100px;
	margin-right: 50px;
	/* 100% - 400px */
	width: 60%;
	/* 100% - 200px or fill contents*/
	height: 500px;	
}


@media (max-width: 960px){
	.resumeNav{
		width: 100%;
		margin-left: 0px;
	}
	.resumeNavContainer{
		margin: 0 auto;
	}
	.resumeContainer{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
}






