.bodyBackground {
	background: #1C1C1C no-repeat fixed;
	/*background-size: 100% 100%;*/ 
}

.navbar-fixed-top {
	background: black;
}

.navbar-collapse {
	margin-right: 25px;
}

#navDiv {
	font-size: 16px;
}

#navDiv li a{
	color: #ffffff;
}

#navDiv .active a{
	color: #00A1D6;
}


