<div id="about">
	<div class="aboutDescription">
		<h1>Yo, I'm Milind</h1>
		<!-- Add some sort of section indicator-->
		<p>I'm an aspiring software developer currently studying computer engineering at the <span>University of Waterloo</span>. I've had a passion for computers that has been exponentially increasing the more I work with them! My career as a programmer began during my first internship at <span>Scotiabank </span> and has continued growing while working for the <span>Department of National Defense</span>. I was able to take my skills to the next level while interning at <span>FlashStock</span>. And most recently, I was able to refine these skills at <span>Intentional Software Corporation</span>. When I'm not programming, I'll most likely be playing the beautiful game that is Starcraft, reading an immersive science fiction book, running out of breath at a marathon, or climbing the most exciting routes at a bouldering gym.
		</p>
	</div>

	<!-- <div class="main-about-container" ng-keypress="about.keyDown($event)">
	  <div class="command-prompt-container">

	  	<div class="input-command-container">
	  		>&nbsp&nbsp<input type="text" ng-model="about.inputText"></input>
	  	</div>

	  </div>
	</div>

	<div class="command-prompt-help">

	</div> -->
</div>

