<div id="contact" class="contactContainer" ng-controller="ContactCtrl as contact">
	<h2>Send Me A Message!</h2>
	<div class="contactTextContainer col-md-offset-1 col-md-10">
		<div class="leftContact col-md-6">
			<p>If you have any questions, suggestions, or just want to have a chat, feel free to message me! You can fill out the box here or message me on social media by clicking on one of the icons below.</p>
			<div class="mediaIconsRow">
			<div ng-repeat="media in contact.socialMedia" class="mediaIcons">
				<a id="{{media.id}}" class="mediaIcon" href="{{media.link}}"><i class="fa {{media.icon}}"></i></a>
			</div>
			</div>
		</div>
			
		<div class="rightContact col-md-6">
			<form class="form-horizontal" id="userForm" name="contact.userForm" ng-submit="contact.submitForm()" novalidate>
		        <div class="form-group" ng-class="{ 'has-error' : contact.userForm.name.$invalid && !contact.userForm.name.$pristine }">
		        	<div class="col-md-12">
		        		<label>Name *</label>
		            	<input type="text" name="name" class="form-control" ng-model="contact.fullName" placeholder="Your Name" required>
		            	<p ng-show="contact.userForm.name.$invalid && !contact.userForm.name.$pristine" class="help-block">Your name is required.</p>
		        	</div>
		        </div>

		        <div class="form-group" ng-class="{ 'has-error' : contact.userForm.email.$invalid && !contact.userForm.email.$pristine }">
				    <div class="col-md-12">
				    	<label>Email *</label>
		            	<input type="email" name="email" class="form-control" ng-model="contact.email" placeholder="Your Email" required>
		            	<p ng-show="contact.userForm.email.$invalid && !contact.userForm.email.$pristine" class="help-block">Enter a valid email address.</p>
		        	</div>
		        </div>

				<div class="form-group">
					<div class="col-md-12">
				    	<label>Subject</label>
				  		<input type="text" name="subject" class="form-control" ng-model="contact.subject" placeholder="Subject">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-12">
				    	<label>Message</label>
						<textarea name="message" class="form-control" rows="8" ng-model="contact.message" placeholder="Your Message"></textarea>
					</div>
				</div>

			  	<div class="formButton">
		  	        <input type="submit" name="mySubmit" class="btn" ng-disabled="contact.userForm.$invalid"></input>
			  	</div>
			</form>
		</div>

		</div>
	</div>
<!-- </div> -->

<!-- Modal -->
<div class="modal fade" id="emailSentModal" role="dialog">
	<div class="modal-dialog modal-sm">
	  <div class="modal-content">
	    <div class="modal-body">
	      <h4 class="modal-title">Message Sent!</h4>
	    </div>
	  </div>
	</div>
</div>