<div id="contact" class="contactContainer" ng-controller="ContactCtrl as contact">
		<h1>Get In Touch!</h1>
		<div class="contactTextContainer">
			<div class="leftContact col-lg-5">
				<p>If you have any questions, suggestions, or just want to have a chat, feel free to message me! You can fill out the box here, send me an email, or message me on social media by clicking on one of the icons below.</p>
				<div class="mediaIconsRow">
				<div ng-repeat="media in contact.socialMedia" class="mediaIcons">
					<a id="{{media.id}}" class="mediaIcon" href="{{media.link}}"><i class="fa {{media.icon}}"></i></a>
				</div>
				</div>
			</div>
			
			<div class="rightContact col-lg-offset-1 col-lg-6">
				<form class="form-horizontal" name="contact.userForm" ng-submit="contact.submitForm()" novalidate>
			        <div class="form-group" ng-class="{ 'has-error' : contact.userForm.name.$invalid && !contact.userForm.name.$pristine }">
			        	<div class="col-lg-8">
			            	<input type="text" name="name" class="form-control" ng-model="contact.fullName" placeholder="Your Name" required>
			            	<p ng-show="contact.userForm.name.$invalid && !contact.userForm.name.$pristine" class="help-block">Your name is required.</p>
			        	</div>
			        </div>

			        <div class="form-group" ng-class="{ 'has-error' : contact.userForm.email.$invalid && !contact.userForm.email.$pristine }">
					    <div class="col-lg-8">
			            	<input type="email" name="email" class="form-control" ng-model="contact.email" placeholder="Your Email" required>
			            	<p ng-show="contact.userForm.email.$invalid && !contact.userForm.email.$pristine" class="help-block">Enter a valid email address.</p>
			        	</div>
			        </div>

					<div class="form-group">
						<div class="col-lg-12">
					  		<input type="text" name="subject" class="form-control" ng-model="contact.subject" placeholder="Subject">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-lg-12">
							<textarea name="message" class="form-control" rows="8" ng-model="contact.message" placeholder="Message"></textarea>
						</div>
					</div>

				  	<div class="buttonCenter">
			  	        <button type="submit" class="btn btn-default" ng-disabled="contact.userForm.$invalid">Send Message</button>
				  	</div>
    			</form>
			</div>

		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="emailSentModal" role="dialog">
	<div class="modal-dialog modal-sm">
	  <div class="modal-content">
	    <div class="modal-body">
	      <h4 class="modal-title">Message Sent!</h4>
	    </div>
	  </div>
	</div>
</div>