<div id="resume" ng-controller="ResumeCtrl as resume">
    <div class="resumeNav">
    	<div id="resumeNavContainer">
    		<canvas id="textCanvas" width="400" height="400">
                <p style="font-family: 'Helvetica-Neue-Thin';">{{resume.notSupportedMessage}}</p>
            </canvas>
        	<canvas id="resumeNavCanvas" width="400" height="400" ng-click="resume.rebuildCanvas($event)">
                <p style="font-family: 'Helvetica-Neue-Thin';">{{resume.notSupportedMessage}}</p>
            </canvas>
    	</div>

        <div class="resumeDownload">
            <a href="/app/downloads/Milind_Shah_Resume.pdf" download>Download Resume</a>
        </div>
    </div>

    <div class="resumeContainer">
        <ng-include src="'/app/views/includes/resumeExperience.html'"></ng-include>
        <ng-include src="'/app/views/includes/resumeSkills.html'"></ng-include>
        <ng-include src="'/app/views/includes/resumeEducation.html'"></ng-include>
        <ng-include src="'/app/views/includes/resumeProjects.html'"></ng-include>
    </div>
</div>


